<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>result</title>
</head>
<body>
  <% if @category == "outer" %>
  <% @items.where(category: "outer").each do |item| %>
  第<%= item.zozo_rank %>位<%= item.zozo_item %> => <a href=<%= item.gu_url %>><%= item.gu_item %></a><br>
  <% end %>
  <% elsif @category == "tops" %>
  <% @items.where(category: "tops").each do |item| %>
  第<%= item.zozo_rank %>位<%= item.zozo_item %> => <a href=<%= item.gu_url %>><%= item.gu_item %></a><br>
  <% end %>
  <% elsif @category == "bottoms" %>
  <% @items.where(category: "bottoms").each do |item| %>
  第<%= item.zozo_rank %>位<%= item.zozo_item %> => <a href=<%= item.gu_url %>><%= item.gu_item %></a><br>
  <% end %>
  <% elsif @category == "inner" %>
  <% @items.where(category: "inner").each do |item| %>
  第<%= item.zozo_rank %>位<%= item.zozo_item %> => <a href=<%= item.gu_url %>><%= item.gu_item %></a><br>
  <% end %>
  <% elsif @category == "shoes" %>
  <% @items.where(category: "shoes").each do |item| %>
  第<%= item.zozo_rank %>位<%= item.zozo_item %> => <a href=<%= item.gu_url %>><%= item.gu_item %></a><br>
  <% end %>
  <% elsif @category == "goods" %>
  <% @items.where(category: "goods").each do |item| %>
  第<%= item.zozo_rank %>位<%= item.zozo_item %> => <a href=<%= item.gu_url %>><%= item.gu_item %></a><br>
  <% end %>
  <% end %>
</body>
</html>
